html{
  scroll-behavior: smooth;
}
*{
  transition: 0.6s ease;
}

body{
  width: 100%;
}

#nav-bar {
    width: 100%;
    height: 20%;
}

#nav-bar nav{
    background-color: #b6aea8;
	background: linear-gradient(to top, #9f9893, #cdc4bd);
	background: -o-linear-gradient(to top, #9f9893, #cdc4bd);
    padding-left: 6%;
    padding-right: 7%;
	padding-top: 1%;
	padding-bottom: 1%
}

.navbar-brand {
    padding-right: 4%;
}

#nav-bar button {
    color: white;
    border: 1px solid white;
}

#nav-bar button:hover{
    background-color:#2d3f51;
}

.collapse{
	padding-left: 2%;
}

.collapse ul li{
	padding-left: 0%;
}


#nav-bar ul li a{
    color: white;
    font-size: 15px;
    font-weight: bold;
	cursor: pointer;
}

#nav-bar ul li a:hover{
	cursor: pointer;
	color: grey;
}


/*-----------------------------first page----------------------*/

#first-page {
    color: black;
    background-image: url("istock.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    padding-top: 3%;
	width: 100%;
	padding-left: 5%;
	padding-right: 1%;
}

#first-page hr{
    border: 5px solid #ada69f ;
    border-radius: 0px;
    margin-top: 5%;
    margin-bottom: 2%;
}

.login-page {
    width: 100%;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 380px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.title {
    margin-bottom: 4%;
    font-size: 28px;
    font-weight: bold;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #B4DDB7;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #364236;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #a2c6a4;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
  }

  }
  #left{
    text-align: left;
    width: 100%;
    padding-left: 6%;
    padding-right: 3%;
}

  #left h2{
	color: white;
	font-size: 7vh;
	margin-top: 10%;
	line-height: 1.4;
	  	  
	  
  }

  #left h4{
    color: #f3f2f1;
	  margin-top: 3%;
	  line-height: 1.5;
  }

  #right{
    width: 100%;
  }


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	width: 100%;
	z-index: 10;
	opacity: 100
}






  /*-------------------------------second page----------------------------*/

#second-page{
	width: 100%;
	padding-top: 6%;
	padding-bottom: 4%;
	background-color: #f1f1f1;
	padding-left: 14%;
}

#second-page h4{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	font-size: 25px;
	line-height: 1.6;
	color: #2d3f51;
}

#batn{
	margin-top: 3%;
	padding-left: 10%;
}

#batn button{
	color: white;
	border-radius: 50px;
	border: none;
	background-color: #a2d5a6;
	height: 60%;
}

#batn button:hover{
	border: 2px solid black;
	color: black;
	background-color: white;
}

/*-------------------------------3th page----------------------------*/
#third_page{
	margin-top: 5%;
	margin-bottom: 5%;
}


#third_page .col-sm-6 .two{
	padding-top: 15%;
	width: 90%;
}

#third_page .col-sm-6 img{
	margin-bottom: 6%;
}

#third_page .col-sm-6 h3{
	color: #2d3f51;
    font-size: 25px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*-------------------------------4th page----------------------------*/
#fourth_page{
	margin-top: 6%;
	background: #f1f1f1;
}

#hello{
	margin-top: 3%;
}

#hell{
	margin-top: 10%;
}

#hell h2{
	font-size: 28px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #30a9de;
	margin-bottom: 3%;
	
}
#hell h3{
	font-size: 25px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.5;
	margin-bottom: 3%;
}

#hell ul{
	color: #fff;
	font-size: 20px;
}

#hell ul li{
	list-style-type: none;
	width: 70%;
	padding: 2%;
	margin-left: -7%;
	line-height: 1.5;
	margin-bottom:4%;
	background: #2c3e50;
	cursor: pointer;
	text-decoration: none;
}

#hell ul li a{
	text-decoration: none;
	color: white;
}

/*-------------------------------------last last one-----------------------------------------*/

.last {
    border-bottom: 1px solid rgb(153, 146, 146);
    margin-bottom: 2%;
}

.last ul{
	list-style-type: none;
	margin-left: -25%;
}

.last .row {
    margin-top: 6%;
    margin-bottom: 4%;
}

.last .left_one {
    margin-right: 2%;
}

.last h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: #989898;
}

.last .left_one p {
    font-size: 15px;
    line-height: 26px;
    color: #4e4d4d;
}

.last .left_one h3 a {
    text-decoration: none;
    color: #989898;
}

.last ul li {
    line-height: 35px;
}

.last ul li a {
    color: #4e4d4d;
    font-size: 15px;
}

.last .right_one img {
    opacity: 0.5;
    transition: 0.2s ease;
}

.last .right_one img:hover {
    opacity: 10;
}


/*----------------------------------footer------------------------------------------------------------------------*/

.footer {
    margin-bottom: 2%;
}

.footer .left_one img {
    margin-right: 2%;
}

.footer .left_one .dropup {
    margin-top: -3%;
}

.footer .left_one button {
    border-radius: 30px;
    background: #898a8b;
    border: none;
    margin-left: 3%;
	margin-top: 25%;
}

.footer .left_one p {
    width: 52%;
    font-size: 13px;
    float: right;
    margin-top: 2%;
    color: #4e4d4d;
}

.footer .right_one ul {
    margin-top: 1.2%;
    width: 70%;
    margin-left: 14%;
}

.footer .right_one ul li {
    display: inline-block;
    font-size: 12px;
}

.footer .right_one .icons {
    width: 100%;
    float: right;
    margin-top: -3%;
}

.footer .right_one .icons i {
    margin-right: 4%;
    cursor: pointer;
    opacity: 0.8;
}

.footer .right_one .icons i:hover {
    opacity: 2;
}

.last .row {
    margin-top: 6%;
    margin-bottom: 4%;
}

.last .left_one {
    margin-right: 2%;
}

.last h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: #989898;
}

.last .left_one p {
    font-size: 15px;
    line-height: 26px;
    color: #4e4d4d;
}

.last .left_one h3 a {
    text-decoration: none;
    color: #989898;
}

.last ul li {
    line-height: 35px;
}

.last ul li a {
    color: #4e4d4d;
    font-size: 15px;
}

.last .right_one img {
    opacity: 0.5;
    transition: 0.2s ease;
}

.last .right_one img:hover {
    opacity: 10;
}


/*----------------------------------footer------------------------------------------------------------------------*/

.footer {
    margin-bottom: 2%;
}

.footer .left_one img {
    margin-right: 2%;
}

.footer .left_one .dropup {
    margin-top: -3%;
}

.footer .left_one button {
    border-radius: 30px;
    background: #898a8b;
    border: none;
    margin-left: 3%;
	margin-top: 25%;
}

.footer .left_one p {
    width: 52%;
    font-size: 13px;
    float: right;
    margin-top: 2%;
    color: #4e4d4d;
}

.footer .right_one ul {
    margin-top: 1.2%;
    width: 70%;
    margin-left: 14%;
}

.footer .right_one ul li {
    display: inline-block;
    font-size: 12px;
}

.footer .right_one .icons {
    width: 100%;
    float: right;
    margin-top: -3%;
}

.footer .right_one .icons i {
    margin-right: 4%;
    cursor: pointer;
    opacity: 0.8;
}

.footer .right_one .icons i:hover {
    opacity: 2;
}



#smallcard{
	border: 1px solid red;
}
